body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.header_left {
    display: flex;
    justify-content: space-between;
}

.login-signup {
    text-align: right;
}

.welcome {
    color: white;
    font-size: 24px;
    text-decoration: none;
    margin-left: 30px;
}

.header img{
    height: 70px;
    width: 70px;
}
.navigation {
    margin-top: 20px;
}

.navigation a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-left: 30px;
}

main {
    padding: 20px;
}

.product-info {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.product-image {
    flex: 0 0 200px;
    margin-right: 20px;
}

.product-image img {
    max-width: 70%;
    height: auto;
}

.inputSyringeNum {
    margin-bottom: 170px;
}

.inputSyringeNum label {
    font-size: 20px;
}

.inputSyringeNum #SerialNum {
    width: 200px;
    height: 30px;
    background-color: #b8b8b8;
    padding: 10px;
    margin: auto;
    border: none;
    border-radius: 3px;
    font-size: 20px;
}

.inputSyringeNum input[type=submit] {
    width: 100px;
    height: 40px;
    background-color: #999999;
    margin: auto;
    border: none;
    border-radius: 3px;
    font-size: 20px;
}

footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
}
