body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.header_left {
    display: flex;
    justify-content: space-between;
}

.header img{
    height: 70px;
    width: 70px;
}
.navigation {
    margin-top: 20px;
}

.navigation a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-left: 30px;
}

.login-signup {
    text-align: right;
}

.login-signup a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}



footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
}